* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  font-family: sans-serif;
}

.button {
  border: 0;
  padding: 5px;
  border-radius: 3px;
  background-color: transparent;
  display: block;
  cursor: pointer;
}

.background {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: {
    image: url("./assets/images/main-bg.jpg");
    size: cover;
    repeat: no-repeat;
    position: center;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    .column {
      margin: 1%;
      width: 23%;
      background-color: #ebecf0;
      padding: 5px;
      border-radius: 6px;
      position: relative;
      height: fit-content;
      .close-column {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 20px;
      }
      .title {
        font: {
          size: 20px;
          weight: bold;
        }
        margin-bottom: 10px;
      }
      .task-box {
        background-color: white;
        padding: 5px;
        position: relative;
        overflow: hidden;
        margin: 5px 0;
        border-radius: 3px;
        &:hover {
          .action-box {
            right: 5px;
          }
        }
        .action-box {
          position: absolute;
          right: -50px;
          top: 5px;
          display: flex;
          transition-duration: 0.5s;
          .edit {
            padding: 2px 5px;
            color: green;
          }
          .delete {
            padding: 2px 5px;
            color: red;
          }
        }
      }
      .add-new-task-box {
        display: flex;
        background-color: white;
        border: 1px solid #ffbf2b;
        border-radius: 4px;
        .task-input {
          display: block;
          width: calc(100% - 50px);
          border: none;
          padding: 5px;
          border-radius: 3px;
        }
        .add-task {
          width: 50px;
          background-color: #ffbf2b;
        }
      }
    }
  }
}

.eddit {
  color: white;
  padding: 1px 14px;
}
